body{
    background-color: #100720;
    font-family: 'Poppins', sans-serif;
    color: white;
}
/* utility */
.white{
    color: white;
}
.img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.m-10{
    margin: 10px;
}
.ml{
    margin-left: 40px;
}
.mr-icon{
    margin-right: 5px;
}
.check-color{
    color: #59CE8F;
}
.social-color{
    color: gray;
}
.card-img{
    height: 150px;
    width: 220px;
    border-radius: 10px;
}
.card-btn{
    background-color: #002B5B;
    padding: 7px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    margin: 10px;
    color: azure;
}
/* utility */
main{
    width: 95%;
    margin: 20px auto;
}
span{
    color: #00D7FF;
    font-weight: bolder;
}
/* top section  */
.top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 30px; */
    margin-bottom: 10px;
}
.top .text h1{
    font-size: 2.3rem;
    text-align: center;
}
.top .text p{
    font-size: 1rem;
    text-align: justify;
}

/* top section  */
/* social media  */
.social-media{
    width: 100%;
}
.social-media .social{
    width: 80%;
    margin: 0px auto;
}
.social-media .social ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.social-media .social ul li{
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}
.social-media .social ul li a{
    color: gray;
    /* margin-right: 70px; */
    text-decoration: none;
}
/* social media  */
/* skilss */
.skils{
    display: flex;
    flex-direction: column;
}
.skils .list ul li{
    list-style: none;
}
.skils .list{
    margin-left: 40px;
}
/* skilss */
/* techs */
.techs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.techs-div{
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: 600;
    margin: 15px;
    text-align: center;
}
.techs-div p{
    color: gray;
}
/* techs */
/* projects */
.projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.projects .project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects .project .btn{
    display: flex;
    align-items: center;
    justify-content: space-around
}

/* projects */

/* footer  */
.footer{
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: white;
}
/* footer  */

/* // media query for mobile devices */

@media only screen and (max-width:540px) {
    .top{
        flex-direction: column;
    }
    .top .text h1{
        font-size: 20px;
    }
    .top .text p{
        font-size: 12px;
    }
    .social-media .social ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .social-media .social ul li{
        margin-top: 10px;
        margin-right: 110px;
    }
    .skils .list{
        margin-left: 10px;
    }
    .techs{
    grid-template-columns: repeat(1,1fr);
    }
    .techs-div{
        width: 80%;
        margin: 10 auto;
    }
    .techs-head{
        font-size: 17px;
    }
    .techs-div p{
        font-size: 12px;
    }
    .projects{
        grid-template-columns: repeat(1,1fr);
    }
    .project{
        width: 100%;
    }
}